
@tailwind base;
@tailwind components;
@tailwind utilities;

.input-error{
    border-color: red;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #000;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    animation: spin 1s linear infinite;
    margin-left: 47%;
    
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }